<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/saifk/eclipse-workspace/FreamworkCRM/src/main/java/qa/test"><classes><class name="qa.test.loginPageTest"><methods><include name="loginToTheApplication"/></methods></class></classes></test></suite>